<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Enter your Details</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="register()">                    
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" ng-model="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" placeholder="abc@xyz.com" ng-model="email">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="sel1">Your Building:</label>
                      <select class="form-control" id="sel1">
                        <option ng-repeat="building in buildings" value="{{building._id}}">{{building.name}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group" ng-show="registered">
                        <label>Registered Succefully, Click here to <a href="/#/signin">LogIn</a></label>                        
                    </div>                   
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>